<!doctype html>
<html>
<head>
    <title>Dataverse Metrics - Dataverse.org</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    {%load staticfiles%}

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="/static/metrics/d3plus/js/topojson.min.js"></script>
<script src="/static/metrics/d3plus/js/d3.min.js"></script>
<script src="/static/metrics/d3plus/js/d3plus.full.min.js"></script>
<style>
@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
#download {
    margin-down: 10px;
    float: right;
    margin-right: 150px;
}
</style>
<script>

  function get_metrics_viz_range(metric_array, mod_num){

      var fig_y_min = metric_array[0].running_total;
      var fig_y_max = metric_array[metric_array.length-1].running_total;

      if (fig_y_min < mod_num){
        return [0, fig_y_max + 10];
      }

      var y_range_start = fig_y_min - (fig_y_min % mod_num);
      var y_range_end = fig_y_max - (fig_y_max % mod_num) + mod_num;

      return [y_range_start, y_range_end];
  }

</script>
<style type="text/css">
  .viz {
      height:500px; /* responsive? */
      padding:0;
      margin:3em;
  }
.main div {
  width: 600px;
  margin-left: 50px;
  display: inline-block;
}
.mh1 div {
  width: 60vh; /* 30% of viewport height*/
  margin: 10px;
}
.linksmenu div {
  float:right;
  width: 100%;
}
.logo div {
  float: left;
}
.white { 
 color : #ffffff; text-decoration : none;
}
</style>
</head>

<body>

<!-- START: container -->
    <div class="container-fluid">
<nav class="navbar navbar-fixed-top navbar-light bg-primary">
  <div class="row">
    <div class="logo">
    	<img  width="5%" height="5%" src="https://dataverse.nl/resources/images/DataversNL-logo.png" style="margin-left:50px;display: inline-block;">
    </div>
  </div>
</nav>

        <div class="col-6 col-md-2 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
	    <a href="/miniverse/metrics/basic-viz/last12" class="list-group-item {{ allaff }}">Institutions</a>
	    <a href="/miniverse/metrics/basic-viz/last12?affiliation=Delft University" class="list-group-item {{ Delft_University }}">Delft University</a>
	    <a href="/miniverse/metrics/basic-viz/last12?affiliation=Eindhoven University" class="list-group-item {{ Eindhoven_University }}">Eindhoven University</a>
	    <a href="/miniverse/metrics/basic-viz/last12?affiliation=Erasmus University Rotterdam" class="list-group-item {{ Erasmus_University_Rotterdam }}">Erasmus University Rotterdam</a>
	    <a href="/miniverse/metrics/basic-viz/last12?affiliation=Hogeschool Utrecht" class="list-group-item {{ Hogeschool_Utrecht }} ">Hogeschool Utrecht</a>
	    <a href="/miniverse/metrics/basic-viz/last12?affiliation=Leiden University" class="list-group-item {{ Leiden_University }}">Leiden University</a>
            <a href="/miniverse/metrics/basic-viz/last12?affiliation=Maastricht University" class="list-group-item {{ Maastricht_University }}">Maastricht University</a>
            <a href="/miniverse/metrics/basic-viz/last12?affiliation=NIOO-KNAW" class="list-group-item {{ NIOO_KNAW }}">NIOO-KNAW</a>
            <a href="/miniverse/metrics/basic-viz/last12?affiliation=Protestantse Theologische Universiteit" class="list-group-item {{ Protestantse_Theologische_Universiteit }}">Protestantse Theologische Universiteit</a>
            <a href="/miniverse/metrics/basic-viz/last12?affiliation=Tilburg University" class="list-group-item {{ Tilburg_University }} ">Tilburg University</a>
            <a href="/miniverse/metrics/basic-viz/last12?affiliation=University of Groningen" class="list-group-item {{ University_of_Groningen }}">University of Groningen</a>
            <a href="/miniverse/metrics/basic-viz/last12?affiliation=University of Twente" class="list-group-item {{ University_of_Twente }}">University of Twente</a>
            <a href="/miniverse/metrics/basic-viz/last12?affiliation=Utrecht University" class="list-group-item {{ Utrecht_University }}">Utrecht University</a>
            <a href="/miniverse/metrics/basic-viz/last12?affiliation=Vrije Universiteit Amsterdam" class="list-group-item {{ Vrije_Universiteit_Amsterdam }}">Vrije Universiteit Amsterdam</a>
          </div>
    </div><!--/span-->

<div id="download">
        	<a href="/static/dvn_201801a.xlsx">
                <img src="/static/excel.png" title="Download" width=30px height=30px />
		<br /><br />
		<a href="/miniverse/metrics/dv-tree">
        	<img src="/static/tree.png" title="Tree" width=30px height=30px />
        	</a>
                <br /><br />
                <a href="/miniverse/metrics/dv-hierarchy">
                <img src="/static/htree.png" title="Network Graph" width=30px height=30px />
                </a>
</div>
<div class="container">
    <div class="row mh1">
        <div class="col-xs-12 col-md-6">
        {% include "metrics/visualizations/dataverses.html" %}
        </div>

        <div class="col-xs-12 col-md-6">
        {% include "metrics/visualizations/dataverses_categories.html" %}
        </div>
    </div>

    <div class="row mh1">
        <div class="col-xs-12 col-md-6">
        {% include "metrics/visualizations/datasets.html" %}
        </div>

        <div class="col-xs-12 col-md-6">
        {% include "metrics/visualizations/categories.html" %}
        {#% include "metrics/visualizations/file_content_types.html" %#}
        </div>
    </div>
<!-- END: Datasets -->


<!-- START: Files -->
<!--
<hr>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h3>Data Files</h3>
        </div>
    </div>
-->
    <div class="row mh1">
      <div class="col-xs-12 col-md-6">
        {% include "metrics/visualizations/files_added.html" %}
      </div>

      <div class="col-xs-12 col-md-6">
          {% include "metrics/visualizations/files_downloads.html" %}
      </div>
    </div>
</div>
<!-- END: Files -->
</div>
<!-- END: Footer/Timestamp -->

  </div>
<!-- END: container -->
{% if not DEBUG %}
    {% include "metrics/google_analytics.html" %}
{% endif %}
<script src="/static/offcanvas.js"></script>
 <link href="/static/offcanvas.css" rel="stylesheet">
</body>
</html>
